<footer>
    <section class="footer">
      <p><a href="#">¿Quienes somos?</a></p>
      <p><a href="/">Volver a la Home</a></p>
      <img class="alcerLogo" src="\images\logo-borde.png" alt="Alcer supermercado" />
      <h4>Contacto</h4>
        <nav class="contact">
          <p>supermercadoalcer@gmail.com</p>
          <p>1122334689</p>
        </nav>
        <nav class="socialMedia">
          <button class="facebook"><i class="fa-brands fa-facebook"></i></i></button>
          <button class="instagram"><i class="fa-brands fa-instagram"></i></button>
          <button class="messenger"><i class="fa-brands fa-facebook-messenger"></i></button>
        </nav>
    </section>
</footer>