<footer>
    <section class="ftr-banner bg-light">
        <a class="info-group" href="">
            <i class="fa-solid fa-location-dot"></i>
            <h2>Ubicación</h2>
            <p>Conocé nuestra ubicación</p>
        </a>
        <a class="info-group" href="">
            <i class="fa-regular fa-circle-question"></i>
            <h2>Cómo comprar</h2>
            <p>Resuelve tus dudas aquí</p>
        </a>
        <a class="info-group" href="">
            <i class="fa-solid fa-truck"></i>
            <h2>Entregas</h2>
            <p>Conocé los métodos de entrega</p>
        </a>
        <a class="info-group" href="">
            <i class="fa-regular fa-credit-card"></i>
            <h2>Pagos</h2>
            <p>Conocé los métodos de pago</p>
        </a>
    </section>
    <section class="ftr-moreInfo">
        <p>Copyright © Supermercado Alcer</p>
        <p style="margin: 0px 100px 40px; padding-top: 0px;">Diseñado y desarrollado por <a href="https://manufuentemorenodev.web.app" target="_blank"  rel="noreferrer" style="text-decoration: none;    color: #1259c3;">Manu Fuente Moreno</a> y Juan Santiago Urquiza</p>
    </section>
</footer>