<div class="main-header-top-bar">
    <a class="font-light-blue burger-menu font-medium">
        <i class="fas fa-bars"></i></a>
    <a href="/"><img class=alcer-logo src="\images\logo-borde.png" alt="Alcer supermercado" /></a>
    <div class="space-header"></div>
    <i class="font-light-blue fa-solid fa-cart-shopping"></i>
    <a href="/login"><i class="font-light-blue fa-solid fa-user"></i></a>
</div>
<div class="space-topbar"></div>