<div class="main-header-top-bar">
    <a class="font-light-blue burger-menu font-medium">
        <i class="fas fa-bars"></i></a>
    <a href="/"><img class=alcer-logo src="\images\logo-borde.png" alt="Alcer supermercado" /></a>
    <div class="space-header"></div>
    <i class="font-light-blue fa-solid fa-cart-shopping"></i>
    <% if (locals.loggedUser) { %>
        <p>Bienvenido</p>
        <p> <%= locals.loggedUser.name %>  </p>
        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    <% } else { %>
        <a href="/login"><i class="font-light-blue fa-solid fa-user"></i></a>
    <% } %>
</div>
<div class="space-topbar"></div>