<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="contenedor-logo" href="/"><img class="alcer-logo d-inline-block align-text-top" src="\images\logo-borde.png" alt="Alcer supermercado" /></a>
    <div class="search-container">
        <form class="container search-bar">
            <input placeholder="Encontrá lo que estás buscando"></input>
            <a href=#><button class="button-search"><i class="fa-solid fa-magnifying-glass"></i></button></a>
         </form>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav">
            <% if (locals.loggedUser) { %>
                <% let nombre = locals.loggedUser.name %>
                <% let mensaje = 'Bienvenido' %>
                <li class="nav-item dropdown">
                    <div class="pp-container">
                        <img src="/images/profile/<%= locals.loggedUser.profil_photo%> " alt="Foto">
                    </div>
                    <div class="d-flex flex-column">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= mensaje.concat(' ', nombre) %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item d-flex" href="/logout">Cerrar sesión</a></li>
                        </ul>

                    </div>
                </li>
                <!-- <li class="nav-item">
                    <div>
                        <a class="d-flex justify-content-center" href="/">
                            <i class="topbar-icon font-light-blue fa-solid fa-house"></i>
                        </a>
                        <a class="nav-link" href="/">Inicio</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <div>
                        <a class="d-flex justify-content-center" href="/cart">
                            <i class="topbar-icon font-light-blue fa-solid fa-cart-shopping"></i>
                        </a>
                        <a class="nav-link" href="/cart">Carrito</a>
                    </div>
                </li>
            <% if (locals.loggedUser.category == 'adminUser') {%> 
                <li class="nav-item">
                    <div>
                        <a class="d-flex justify-content-center" href="/users">
                            <i class="topbar-icon font-light-blue fa-solid fa-users"></i>
                        </a>
                        <a class="nav-link" href="/users">Usuarios</a>
                    </div>
                </li>
            <% } %> 
            <% } else { %>
                <li class="nav-item">
                    <div>
                        <a class="d-flex justify-content-center" href="/cart">
                            <i class="topbar-icon font-light-blue fa-solid fa-cart-shopping"></i>
                        </a>
                        <a class="nav-link" href="/cart">Carrito</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div>
                        <a class="d-flex justify-content-center" href="/login">
                            <i class="topbar-icon font-light-blue fa-solid fa-user"></i>
                        </a>
                        <a class="nav-link" href="/login">Ingresar</a>
                    </div>
                </li>
            <% } %>
        </ul>
    </div>
  </div>
</nav>