<!DOCTYPE html>
<html lang="es">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <%- include("partials/head")  %> 
    <title>Productos</title>
  </head>
  <body>
    <header>
      <%- include("partials/topBar")  %> 
    </header>
    <main>
      <section class="box">
      </section>  
    </main>
    <%- include("partials/footer")  %> 
  </body>
</html>
