<!DOCTYPE html>
<html lang="en">
  <head>
    <!--conecta el archivo theme.form.css con el home-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/theme-form.css" />
    <%- include("partials/head") %>
    <title>Ingresar</title>
  </head>
  <body>
    <%- include("partials/topBar") %>
    <main class="bg-lightgrey p-8 w-90 m-center mt-15 mb-15">
      <form action="/login" class="formulario" id="loginForm" method="POST">
        <div class="grupo-titulo-form">
          <div class="titulo-form-fondo mb-15 ml">
            <h1 class="titulo-form-texto">Ingresar</h1>
          </div>
        </div>
        <div class="input-icon-container" id="emailField">
          <i class="fa-solid fa-envelope"></i>
          <input
            class="input-with-icon"
            type="email"
            name="email"
            id="email"
            placeholder="Ingrese su email"
          />
        </div>
        <div class="error-email errores"><ul></ul></div>
        <div class="input-icon-container" id="passwordField">
          <i class="fa-solid fa-lock"></i>
          <input
            class="input-with-icon"
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
          />
        </div>
        <div class="error-password errores"><ul></ul></div>
        <% if (locals.errors && errors.email) { %>
        <!--Si en locals tengo errores y si en los errores vino un email-->
        <p class="mensaje-error"><%= errors.email.msg %></p>
        <% } %>
        <div class="grupo-botones-formulario mt-15">
          <button class="button button-submit" type="submit" id="buttonSubmit">Ingresar</button>
          <button class="button" type="reset">Borrar</button>
        </div>
        <div class="grupo-registrate">
          <h3 class="register-cuenta-pregunta">¿Todavía no tenés una cuenta?</h3>
          <a class="ml-10" href="/register">Registrate ahora</a>
        </div>
      </form>
    </main>
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script> -->
    <script src="/js/usersLoginValidation.js"></script>
  </body>
</html>
