<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/theme-form.css" /> <!--conecta el archivo theme.form.css con el home-->
    <%- include("partials/head") %>
    <title>Ingresar</title>
</head>
<body>
    <main class="bg-lightgrey p-8 w-90 m-center mt-15 mb-15">
        <form action="" class="formulario">
            <div class="grupo-titulo-form">
                <div class="titulo-form-fondo mb-15 ml">
                    <h1 class="titulo-form-texto">Ingresar</h1>
                </div>
            </div>
            <div class="input-icon-container">
                <i class="fa-solid fa-envelope"></i>
                <input class="input-with-icon" type="email" name="usuario" placeholder="Ingrese su email">
            </div>
            <div class="input-icon-container">
                <i class="fa-solid fa-lock"></i>
                <input class="input-with-icon" type="password" name="contrasena" placeholder="Contraseña">
            </div>
            <div class="grupo-botones-formulario mt-15">
                <button class="boton-enviar" type="submit">Enviar</button>
                <button class="botones-formulario" type="reset">Borrar</button>
            </div>
            <div class="grupo-registrate">
                <p>¿Todavía no tenés una cuenta?</p>
                <a class="ml-10" href="/register">Registrate ahora</a>
            </div>
        </form>
    </main>
</body>
</html>