<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/theme-users.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <%- include("partials/head") %>
    <title>Órdenes</title>
  </head>
  <body>
    <%- include("partials/topBar") %>
    <main class="bg-lightgrey p-8 w-90 m-center mt-15 mb-15 order-main">
      <h1>Órdenes</h1>
      <h2>Seleccioná el tipo de órdenes</h2>
      <form action="/orders/list" method="GET">
        <select name="delivery_method" id="delivery_method">
            <option value="retiro">Retira en local</option>
            <option value="envio">Envío a domicilio</option>
        </select>
        <button type="submit">Ver</button>
      </form>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>