<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/theme-form.css" /> <!--conecta el archivo theme.form.css con el home-->
    <%- include("partials/head") %>
    <title>Registro</title>
</head>
<body>
    <main class="bg-lightgrey p-8 w-90 m-center mt-15 mb-15">
        <form action="" class="formulario">
            <div class="grupo-titulo-form">
                <div class="titulo-form-fondo mb-15 ml">
                    <h1 class="titulo-form-texto">Registro</h1>
                </div>
            </div>
            <h2>Datos de la cuenta</h2>
            <div class="input-icon-container">
                <i class="fa-solid fa-envelope"></i>
                <input class="input-with-icon" type="email" name="usuario" placeholder="Ingrese su email">
            </div>
            <p class="mensaje-error">* Dato incorrecto</p>
            <div class="input-icon-container">
                <i class="fa-solid fa-lock"></i>
                <input class="input-with-icon" type="password" name="contrasena" placeholder="Contraseña nueva">
            </div>
            <p class="mensaje-error">* Dato incorrecto</p>
            <div class="input-icon-container">
                <i class="fa-solid fa-lock"></i>
                    <input class="input-with-icon" type="password" name="confirmaContrasena" placeholder="Confirmar contraseña">
            </div>
            <p class="mensaje-error">* Dato incorrecto</p>
            <h2>Datos personales</h2>
            <div class="">
                <label for="nombres">
                    <input class="input-general" type="text" name="nombres" placeholder="Ingrese su nombre">
                </label>
            </div>
            <p class="mensaje-error">* Dato incorrecto</p>
            <div class="">
                <label for="apellidos">
                    <input class="input-general" type="text" name="apellidos" placeholder="Ingrese su apellido">
                </label>
            </div>
            <p class="mensaje-error">* Dato incorrecto</p>
            <div class="">
                <label for="fechaNacimiento">Seleccione su fecha de nacimiento:
                    <input class="input-general mt-10" type="date" name="fechaNacimiento">
                </label>
            </div>
            <p class="mensaje-error">* Dato incorrecto</p>
            <div class="grupo-botones-formulario">
                <button class="boton-enviar" type="submit">Enviar</button>
                <button class="botones-formulario" type="reset">Borrar</button>
            </div>
        </form>
    </main>
</body>
</html>