.font-yellow {
    color: #eac926;
}
.bg-yellow {
    background-color: #eac926;
}   
   
.font-light-blue {
    color: #1259c3;
}
.bg-light-blue {
    background-color: #1259c3;
}   
.font-dark-grey {
    color: #666;
}
.bg-dark-grey {
    background-color: #666;
}    
