@keyframes selected{
  0%{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  }

  100%{
    box-shadow: -1px 6px 27px -1px rgba(0, 0, 0, 0.225);
  }
}

@media (min-width: 992px) {
  .header{
    padding: 1%;
  }

  /* *********** TOPBAR ***********  */

  nav {
    position: fixed;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }
  
  .contenedor-logo {
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alcer-logo {
    width: 100%;
  }

  .topbar-icon {
    display: block;
  }

  .search-container {
    width: 100%;
  }

  .search-bar input::placeholder {
    font-size: large;
  }

  .pp-container {
    display: block;
    width: 50px;
    height: 50px;
  }

  .pp-container img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .carrito-logo{
    display: block;
    position: relative;
    height: 20px;
  }

  .cart-p-number{
    display: block;
    position: absolute;
    bottom: -4px;
    right: 11px;
    color: white;
    background-color: #044dac;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }

  .li-burger{
    margin:auto
  }

  .mostrar-login-topbar{
    width: auto;
  }

 
  /* ******* FIN DE TOPBAR ********  */
  
  .main-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .carousel{
    width: 100%;
  }

  .productos-destacados-list{
    display: flex;
    overflow: unset;
    height: auto;
    width: auto;
    justify-content: center;

  }

  .categorias{
    margin-top: 2%;
    display: block;
    display: flex;
  }


  .firstProductTitle{
    display: none;
  }
  .secondProductTitle{
    display: block;
    width: 100%;
    margin: 3% 3% 3% 13%;
    padding: 0%;
  }
  .productCard{
    width: 90%;
    background-color: #d8d8d8;
    margin: auto;
  }

  .product-card{
    width: 170px;
    margin: 10px;
  }

  .product-card:hover{
    animation: selected 350ms forwards;
  }

  .product-name{
    line-height: 15px;
    flex-grow: 1;
  }

  .title-products{
    margin: 3% 0%;
  }

  .product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
  }
  .productPrincipalImage{
    width: 27vw;
    margin: 8% 0% 7% 8%;

  }
  .productTitle {    
    display: block;
    width: 40%;
    text-align: left;
    
  }
  .productSecondaryImage{
    display: none;
  }
  .addCart{
    margin: 13% 0% 0% 18%;
    width: 70%;
}
  .relatedProducts{
    margin-top: 5%;
  }
  .relatedProducts h2{
    margin: 5%;

  }

  .title-all-products{
    margin-left: 20px;
    font-size: 25px;
  }

  .description{
    max-width: 1000px;;
  }

  .p-detail-image{
    display: block;
  }

  .detail-image{
    width: 30%;
  }
  
  /* FORMULARIOS */

  .formulario {
    max-width: 600px;
    padding: 32px 32px;
    margin: auto;
    background-color: #fff;
  }

  /* *********** CARRITO DE COMPRA ***********  */

  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 20px;
  }

  .section-products{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: min-content;
  }

  .products{
    justify-content: flex-start;
    margin-left: 40px;
  }

  .cart-title{
    font-size: 25px;
  }
  
  .cart-box {
    width: 75%;
  }

  .cart-box-products{
    max-width: none;
    width: auto;
    flex-basis: auto;
    border-top: 2px solid rgba(210, 210, 210, 0.18);
    border-bottom: 2px solid rgba(210, 210, 210, 0.18);
    max-height: 614px;
    overflow: scroll;
  }
    
  .carrito-productos {
    display: flex;
    flex-wrap: wrap;
    width: min-content;
  }

  .card-cart {
    justify-content: space-evenly;
    height: auto;
  }

  .card-cart figure{
    position: initial;
  }

  .cart-delete-btn{
    border-radius: 5px;
    height: auto;
    width: auto;
    font-size: 10px;
    padding: 5px 10px;
  }

  .continue-group h3{
    margin: 5px 0px 5px;
    font-size: 20px;
  }

  .cart-total-group {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 12px;
  }

  .cart-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    font-size: 12px;
  }

  .cart-price{
    text-align: center;
    font-size: 15px;
  }

  .cart-product-name{
    text-align: center;
  }


  /* *********** FIN DE CARRITO DE COMPRA ***********  */

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .productos-destacados{
    width: 90%
  }
    /* ADDED PRODUCT */

    .cart-info-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 5px;
    }

    .cart-info-container i {
      font-size: 32px;
      background-color: lightgreen;
      border-radius: 100%;
    }
    
    .cart-info-container figure {
      width: 10%;
      margin: 0px;
    }
  
    .cart-info-container img {
      width: 90%;
    }
  
    .added-description {
      width: 90%;
    }

    /* FIN DE ADDED PRODUCT */
}