@media (min-width: 1025px) {
  .header{
    padding: 1%;
  }

  /* *********** TOPBAR ***********  */

  nav {
    position: fixed;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }
  
  .contenedor-logo {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alcer-logo {
    width: 100%;
  }

  .topbar-icon {
    display: block;
  }

  .search-container {
    width: 100%;
  }

  .search-bar input::placeholder {
    font-size: large;
  }

  .pp-container {
    display: block;
    width: 50px;
  }

  .pp-container img {
    width: 100%;
    border-radius: 100%;
  }

  /* ******* FIN DE TOPBAR ********  */
  
  .carousel{
    width: 100%;
  }

  .categorias{
    margin-top: 2%;
    display: block;
    display: flex;
  }

  .firstProductTitle{
    display: none;
  }
  .secondProductTitle{
    display: block;
    width: 100%;
    margin: 3% 3% 3% 13%;
    padding: 0%;
  }
  .productCard{
    width: 90%;
    background-color: #d8d8d8;
    margin: auto;
}
  
  .product{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

   
    
  }
  .productPrincipalImage{
    width: 27vw;
    margin: 8% 0% 7% 8%;

  }
  .productTitle {    
    display: block;
    width: 40%;
    text-align: left;
    
  }
  .productSecondaryImage{
    display: none;
  }
  .addCart{
    margin: 13% 0% 0% 18%;
    width: 70%;
}
  .relatedProducts{
    margin-top: 5%;
  }
  .relatedProducts h2{
    margin: 5%;

  }
  
  /* FORMULARIOS */

  .formulario {
    max-width: 600px;
    padding: 32px 32px;
    margin: auto;
    background-color: #fff;
  }

  /* *********** CARRITO DE COMPRA ***********  */

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .box {
    width: 75%;
  }
    
  .carrito-productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card-cart {
    width: 75%;
  }

  /* *********** CARRITO DE COMPRA ***********  */

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}