@keyframes categoryBar{
  from{
    background-color: #fff;
    color: #1259c3;
  }
  to{
    background-color: #1259c3;
    color: #fff;
  }
}


@media (min-width: 768px) {

  /* ********* FOOTER ************** */

  .ftr-banner {
    flex-direction: row;
  }

  /* *********** TOPBAR ***********  */
   .contenedor-logo {
    display: block;
    width: 120px;
  }

  .alcer-logo {
    width: 100%;
  }

  .search-bar input::placeholder {
    font-size: medium;
  }
 

  .categories-bar{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
  }

  .category-list{
    transition: ease-out;
    list-style-type: none;
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: #1259c3;
    border-radius: 5px;
  }

  .category-list:hover{
    animation: categoryBar 400ms forwards;
  }


  /* ******* FIN DE TOPBAR ********  */

  .main{
    justify-content: space-between;
  }
  .main-page{
    margin: 25px 30px;
  }

  .title-all-products{
    margin-left: 20px;
    font-size: 25px;
  }

  .products{
    justify-content: flex-start;
  }
 
  .productPrincipalImage {
    width: 60%;
  }
  
  .categorias{
      margin-top: 4%;
  }
  
  .productPrincipalImage {
    width: 50%;
  }
  
  .addCart{
    width: 70%;
  }

  .relatedProductsScroll {
    flex-direction: ROW;
    width: 80%;
    margin: auto;
  }

  .search-container{
    padding: 0px;
    margin: 15px 20px;
  }

  .section-cart{
    display: flex;
    padding: 20px;
    border-radius: 20px;
    position: sticky;
    top: 10px;
    background: white;
    box-shadow: -7px 13px 16px -3px rgba(0,0,0,0.1);
    flex-direction: column;
    max-height: 650px;
  }
  

  .cart-box-products{
    border-radius: 0px;
    margin-bottom: 15px;
    display: flex;
    flex-basis: fit-content;
    width: auto;
    margin-left: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgba(211, 211, 211, 0.529) white;
    overflow: scroll;
    border: none;
  }

  .product-card{
    margin: 5px;
  }

  .cart-product-name{
    text-align: right;
  }

  .product-description{
    margin: 1px;
    overflow: hidden;
    white-space: unset;
    text-overflow: ellipsis;
    line-height: 15px;
    height: 27px;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .cart-page{
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    align-content: center;
}

.cart-page-card{
    border: 0.5px solid rgb(176, 176, 176);
    width: 600px;
    justify-content: space-between;
    padding: 15px;
    flex-direction: row;
}

.cart-page-photo{
    width: 91px;
}

.cart-page-detail{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; 
  flex-grow: 1;
  margin: 15px;
}

.cart-page-product-name{
  width: 120px;
}

  /* FORMULARIOS */

  .formulario {
    max-width: 500px;
    margin: auto;
    padding: 32px 32px;
    background-color: #fff;
  }


  .botones-formulario {
    max-width: 150px;
  }

  .boton-enviar {
    max-width: 150px;
  }

    /* *********** CARRITO DE COMPRA ***********  */
    
    .cart-title {
      text-align: start;
      font-size: 20px;
    }

    .card-cart{
      justify-content: flex-end;
      position: relative;
      height: 180px;
      width: 240px;
      border: rgba(0, 0, 0, 0.12) 1.5px solid;
    } 

    .card-cart figure {
      position: absolute;
      left: 17px;
      top: 71px;
    }
  
    .cart-detail {
      display: flex;
      flex-wrap: wrap;
    }
  }
