@media (max-width: 768px) {
  .categorias{
    margin-top: 8%;
    display: none;
  }
  .secondProductTitle{
    display: none;
  }
  .header{
    margin-bottom: 5%;
  }
  .product{
    flex-direction: column;
  }
  .productPrincipalImage{
    width: 50vw;
    margin: auto;
  }
  .secondaryImages{
    display: none;
  }
  .price-discount{
    margin: 3% 20% 5% 20%;
  }
  .price{
    font-size: 30px;
  }
  .discount{
    font-size: 20px;
  }
  .relatedProductsScroll{
    width: 90%;
    margin: auto;
  }
  .relatedProductImage{
    width: 50%;
  }
  .alcerLogo{
    width: 40%;
  }
  
}