@media (min-width: 768px) {

  /* *********** TOPBAR ***********  */
   .contenedor-logo {
    display: block;
    width: 120px;
  }

  .alcer-logo {
    width: 100%;
  }

  .search-bar input::placeholder {
    font-size: medium;
  }

  /* ******* FIN DE TOPBAR ********  */
  
  .productPrincipalImage {
    width: 60%;
  }
  
  .categorias{
      margin-top: 4%;
  }
  
  .productPrincipalImage {
    width: 50%;
  }
  
  .addCart{
    width: 70%;
  }

  .relatedProductsScroll {
    flex-direction: ROW;
    width: 80%;
    margin: auto;
  }

  .search-container{
    padding: 0px;
    margin: 15px 20px;
  }

  /* FORMULARIOS */

  .formulario {
    max-width: 500px;
    margin: auto;
    padding: 32px 32px;
    background-color: #fff;
  }

  .products{
    width: auto;
    margin: 0px 120px;
  }

  .botones-formulario {
    max-width: 150px;
  }

  .boton-enviar {
    max-width: 150px;
  }

    /* *********** CARRITO DE COMPRA ***********  */
    
    .card-cart figure {
      width: 15%;
    }
  
    .cart-detail {
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
}