body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f4f4;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0px 3px 12px -4px rgba(0,0,0,0.1);
    z-index: 100;
}

.top-bar-element {
    font-size: large;
    padding: 10px;
}

.grupo-bienvenido {
    display: flex;
    align-items: center;
}

.grupo-bienvenido p {
    margin: 0px;
    padding: 2px;
}

.burger-menu{
    font-size: x-large;
}

.fa-bars{
    align-items: center;
}

.alcer-logo{
    width: 40%;
    max-width: 228.8px;
    max-height: 89.66px;
    justify-items: center;
    margin: auto;
    right: 25%;
    left: 25%;
    top: 15%;
    position: absolute;
}
.space-header{
    flex-grow: 2.5;
}

.space-topbar{
    width: 100%;
    height: 80px;
}

/*---------- search bar  */

input:focus{
    outline: none;
}

.search-container{
    display: block;
    margin: auto;
    padding: 5%;
}

.search-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.316);
    border-radius: 5px;
    padding: 8px;
    background-color: white;
}

.search-bar input{
    border: none;
    flex-grow: 3;
    align-self: center;
}

.button-search{
    color: rgba(0, 0, 0, 0.316);
    border: none;
    border-left: solid 1px rgba(0, 0, 0, 0.527);
    background-color: white;
    align-self: center;
}


.categorias{
    justify-content: space-around;
}
main{
    margin-top: 1%;
    background-color: #f5f4f4;
}
body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
footer{
    background-color: #1A1A1A;
    color: #f5f4f4;
}
.firstProductTitle {
    text-align: center;
    display: block;
    padding: 4%;
    margin: 5% 5% 5% 5%;
    font-size: 30px;
    font-weight: bold;
}
.secondProductTitle {
    text-align: center;
    display: block;
    padding: 4%;
    margin: 5% 5% 5% 5%;
    font-size: 30px;
    font-weight: bold;
}

ul{
    display: flex;
}

footer a{
    color: white;
    text-decoration: none;
    width: 50%;
    font-weight: bold;
}
.socialMediaList{
    padding: 0vw;
    display: flex;
    justify-content: space-around;
    margin: 0;
    text-decoration: none;
}

li{
    margin: 1vw;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.productPrincipalImage{
    display: block;
    margin: auto;
    width: 80vw;
    box-shadow:inset;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.secondaryImages{
    display: flex;
    justify-content: space-around;
}
.productSecondaryImage{
    width:20vw ;
}
.price-discount{
    justify-content: space-around;
    margin: 3%;
    display: flex;
    padding: 3%;
    border-radius: 5px;
}
.price{
    color :#044dac;
    display: flex;
    font-weight: bold;
    margin: 0%;
    font-size: 35px;
}
.discount{
    font-weight: bold;
    color :#044dac;
    display: flex;
    margin: 0%;
    font-size: 25px;
    text-decoration: underline;
}
.addCart{
    background-color: #6cdb50;
    font-size: 25px;
    color: #ffffff;
    border-radius: 10px;
    padding: 1%;
    font-weight: 500  ;
    display: block;
    margin: auto;
    margin-bottom: 10%;
    width: 80%;
    text-align:center;
    border: white;
    border-radius: 3px;   
}
.relatedProducts{
    text-align: center;
    border-top: solid #8b8888;
    margin: auto;
    width: 90%;
}

h2{
    margin-top: 3%;
}

.relatedProductsScroll{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.relatedProductsScroll i{
    margin: 1%;
    width: 100%;
}

.relatedProductCard{
    margin: 3%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2%;
    border: #d8d8d8;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 50%);
}

.imagesOfRelatedProducts{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vh;
}

.relatedProductImage{
    width: 25vw;
    margin: 1%;
}

 /* *********** FOOTER ***********  */

.footer{
    text-align: center;
    margin-top:3% ;
    padding-top:3% ;
}

.footer p{
    padding: 3%;
}

.contact{
    display: box;
    margin: auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alcerLogo{
    width: 21vw;
    margin: 2%;
}

.socialMedia{
    display: flex;
    padding: 3%;
    justify-content: space-around;
}

.socialMedia button{
    border-radius: 50%;
    background-color: #8b8888;
    border: #8b8888;
    font-size: larger;
}

/* *********** TARJETAS DE HOME ***********  */

section h2{
    margin: 3%;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.product-card{
    display: flex;
    flex-direction: column;
    border: 1px rgba(0, 0, 0, 0.188) solid;
    border-radius: 10px;
    width: 160px;
    margin: 4%;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.product-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    height: 103px;
}

.product-name{
    color: black;
    font-size: 16px;
    margin: 1.5px;

}

.product-description{
    color: black;
    font-size: 12px;
    margin: 1.5px;
    line-height: 11px;

}

.product-price{
    font-weight: 600;
    color: #1259c3;
    margin: 1.5px;
    text-align: end;

}

/* *********** CARRITO DE COMPRA ***********  */

.carrito-productos{
    display: inline-block;
}

.card-cart{
    display: felx;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 80%;
    border: rgba(0, 0, 0, 0.356) 1px solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
}

.card-cart img{
    width: 40%;
}

.cart-units{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-units h4{
    background-color: white;
    padding: 2px 20px;
    margin: auto;
    font-size: 19px;
}

.cantidad-unidades{
    display: flex;
    background-color: #044dac;
    border-radius: 5px;
    align-items: center;
    height: 2em;
}

.cantidad-unidades button{
    background-color: #044dac;
    border: none;
    display: flex;
    
}

.cantidad-unidades i{
    color: white;
    align-self: center;
    margin: auto;
}

.precio-total{
    align-self: flex-end;
}

/* PRODUCT DETAIL */
.box{
    margin: 20px;
    border: 1px solid #0003;
    border-radius: 20px;
    padding: 20px;
    background: white;
  }

  .description{
    display: flex;
    justify-content: space-around;
  }

  .details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  .detail-image{
    width: 40%;
  }

  .button {
    background-color: #1259c3;
    border: none;
    border-radius: 7px;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 15px;
    margin: 1px;
  }

  .button:hover{
    background-color: #0a3069;
  }

  .edit-button{
    background-color: rgb(220, 186, 37);
  }

  .edit-button:hover{
    transition-duration: 100ms;
    background-color: rgb(122, 104, 22);
  }

  .delete-button{
    background-color: red;
  }

  .delete-button:hover{
    background-color: rgb(135, 6, 6);
  }

  /* formulario de creacion */

  .form{
    display: flex;
    flex-direction: column;
  }

  .form button {
    background-color: #1259c3;
    border: none;
    border-radius: 7px;
    color: white;
    /* padding: 5px; */
    height: 40px;
    width: 150px;
    max-width: 500px;
    font-size: 15px;
    margin: 5px;
  }

  .form button:hover{
    background-color: #0a3069;
  }

  .input-stle{
    margin: 10px 10px 0px 10px;
    border: solid 1px #9fb1ff;
    border-radius: 5px;
    padding: 10px;
  }

  .danger{
    border: solid 2px rgba(231, 47, 47, 0.601);
  }
  
  .danger-text{
    color: rgb(231, 47, 47);
    margin-left: 15px;
    height: 15px;
  }