/*
*** ESTILOS PARA FORMULARIOS ***
*/

/*GENERALES*/



/*ESPECÍFICOS*/

.formulario {
    max-width: 600px;
    border-radius: 24px;
    margin: auto;
    padding: 32px 32px;
    background-color: #FFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.input-general {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    border: solid 1px #9fb1ff;
    border-radius: 5px;
    background-color: #FFF;
}

.input-icon-container {
    align-items: center;
    margin-bottom: 10px;
    border: solid 1px #9fb1ff;
    border-radius: 5px;
    background-color: #FFF;
}

.input-icon-container i {
    margin: 10px;
    color: #1259c3;
}

.input-with-icon {
    width: 100%;
    height: auto;
    margin-right: 5px;
    padding: 5px;
    font-size: 16px;
    border: none;
}

.input-icon-container {
    display: flex;
}

.input-icons i {
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-top: 6px;
    color: #1259c3;
}

.input-file {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
}

.mensaje-error {
    color: red;
    font-style: italic;
    margin-top: 0px;
    text-align: center;
}

.botones-formulario {
    width: 47.5%;
    height: 36px;
    padding: 5px;
    background-color: #1259c3;
    color: #FFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.boton-enviar {
    width: 47.5%;
    height: 36px;
    padding: 5px;
    background-color: green;
    color: #FFF;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.grupo-botones-formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boton-login {
    width: 100%;
    height: 36px;
    padding: 5px;
    background-color: #1259c3;
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.grupo-registrate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.errores ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: lightcoral;
    border-radius: 6px;
}

.errores ul li {
    margin: 2px;
    padding: 2px;
}

.errores i {
    margin: 3px;
    padding-right: 6px;
}