body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f4f4;
}

/* *********** TOPBAR ***********  */

.contenedor-logo {
    width: 100px;
}

.alcer-logo {
    width: 100%;
}

.topbar-icon {
    display: none;
    font-size: 20px;
}

.pp-container {
    width: 30px;
    height: 30px;
    display: none;
}

.pp-container img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.d-flex{
    justify-content: center;
}

.search-container {
    width: 50%;
    display: block;
    margin: auto;
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(0, 0, 0, 0.316);
    border-radius: 5px;
    padding: 8px;
    background-color: white;
}

.search-bar input {
    width: 75%;
    border: none;
    flex-grow: 3;
    align-self: center;
}

.search-bar input::placeholder {
    font-size: small;
}

.button-search {
    color: rgba(0, 0, 0, 0.316);
    border: none;
    border-left: solid 1px rgba(0, 0, 0, 0.527);
    background-color: white;
    align-self: center;
}

.user-logo{
    align-items: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.user-photo{
    max-width: 30px;
}

.dropdown-toggle{
    padding: 5px;
}

.navbar-nav{
    align-items: center;
}

.icon-topbar-text{
    line-height: 13px;
    padding-bottom: 0px;
    text-align: center;
}

.icon-topbar-text-add{
    line-height: 13px;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 1px
}



/* *********** FIN DE TOPBAR ***********  */


.fa-bars{
    align-items: center;
}

input:focus{
    outline: none;
}

.categorias{
    justify-content: space-around;
}

main{
    display: flex;
    margin: 10px;
    background-color: #f5f4f4;
    justify-content: center;
    justify-content: space-between;
}

.title-all-products{
    margin-left: 10px;
}

body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Radio Canada', sans-serif;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: #1A1A1A;
    color: #f5f4f4;
}
.firstProductTitle {
    text-align: center;
    display: block;
    padding: 4%;
    margin: 5% 5% 5% 5%;
    font-size: 30px;
    font-weight: bold;
}
.secondProductTitle {
    text-align: center;
    display: block;
    padding: 4%;
    margin: 5% 5% 5% 5%;
    font-size: 30px;
    font-weight: bold;
}

footer ul{
    display: flex;
}

footer a{
    color: white;
    text-decoration: none;
    width: 50%;
    font-weight: bold;
}
.socialMediaList{
    padding: 0vw;
    display: flex;
    justify-content: space-around;
    margin: 0;
    text-decoration: none;
}

footer li{
    margin: 1vw;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.productPrincipalImage{
    display: block;
    margin: auto;
    width: 80vw;
    box-shadow:inset;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.secondaryImages{
    display: flex;
    justify-content: space-around;
}
.productSecondaryImage{
    width:20vw ;
}
.price-discount{
    justify-content: space-around;
    margin: 3%;
    display: flex;
    padding: 3%;
    border-radius: 5px;
}
.price{
    color :#044dac;
    display: flex;
    font-weight: bold;
    margin: 0%;
    font-size: 35px;
}
.discount{
    font-weight: bold;
    color :#044dac;
    display: flex;
    margin: 0%;
    font-size: 25px;
    text-decoration: underline;
}
.addCart{
    background-color: #6cdb50;
    font-size: 25px;
    color: #ffffff;
    border-radius: 10px;
    padding: 1%;
    font-weight: 500  ;
    display: block;
    margin: auto;
    margin-bottom: 10%;
    width: 80%;
    text-align:center;
    border: white;
    border-radius: 3px;   
}
.relatedProducts{
    text-align: center;
    border-top: solid #8b8888;
    margin: auto;
    width: 90%;
}

footer h2{
    margin-top: 3%;
}

.relatedProductsScroll{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.relatedProductsScroll i{
    margin: 1%;
    width: 100%;
}

.relatedProductCard{
    margin: 3%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2%;
    border: #d8d8d8;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 50%);
}

.imagesOfRelatedProducts{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vh;
}

.relatedProductImage{
    width: 25vw;
    margin: 1%;
}

 /* *********** FOOTER ***********  */

.footer{
    text-align: center;
    margin-top:3% ;
    padding-top:3% ;
}

.footer p{
    padding: 3%;
}

.contact{
    display: box;
    margin: auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.alcerLogo{
    width: 21vw;
    margin: 2%;
}

.socialMedia{
    display: flex;
    padding: 3%;
    justify-content: space-around;
}

.socialMedia button{
    border-radius: 50%;
    background-color: #8b8888;
    border: #8b8888;
    font-size: larger;
}

/* *********** TARJETAS DE HOME ***********  */

.title-products{
    margin: 3% 3%;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.product-card{
    display: flex;
    flex-direction: column;
    border: 1px rgba(0, 0, 0, 0.188) solid;
    border-radius: 10px;
    width: 160px;
    margin: 8px 5px;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
}

.product-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    height: 115px;
}

.product-name{
    color: black;
    font-size: 16px;
    margin: 1.5px;

}

.product-description{
    color: black;
    font-size: 12px;
    margin: 1.5px;
    line-height: 11px;

}

.product-price{
    font-weight: 600;
    color: #1259c3;
    margin: 1.5px;
    text-align: end;

}

@keyframes icon-add-back {
    0%{
        background: #ffffff9d;
    }
    40%{
        transform: rotate(-5deg);
    }
    60%{
        transform: rotate(7deg);
        background: #fffffffb;
        width: 50px;
        height: 50px;
        box-shadow: -10px 3px 24px -13px rgba(0,0,0,0.55);
    }
    100%{
        transform: rotate(-15deg);
        background: #fffffffb;
        width: 50px;
        height: 50px;
        box-shadow: -10px 3px 24px -13px rgba(0,0,0,0.55);
    }
}

.add-cart-form{
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 50px;
}

.button-add-cart{
    color: none;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50px;
    box-shadow: -10px 3px 24px -13px rgba(0,0,0,0.43);
    background: #FFFFFFBA;
    
}

.button-add-cart:hover{
    animation: icon-add-back 350ms forwards;
    transition: ease-in-out;
}

.icon-add-cart{
    color:#044dac
}


/* *********** CARRITO DE COMPRA ***********  */

.section-cart{
    display: none;
}

.cart-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #0003;
    border-radius: 20px;
    padding: 20px;
    background: white;
}

.cart-box-products{
    display: none;
    width: 40%;
}

.carrito-productos{
    display: flex;
    flex-wrap: wrap;
}

.cart-title {
    text-align: center;
}

.card-cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    margin: auto;
    width: 90%;
    border: rgba(0, 0, 0, 0.356) 1px solid;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
}

.cart-amount {
    width: 24px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    border: none;
}

.addRemove-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid grey;
    padding: 0 5px;
    border-radius: 5px;
}

.addRemove-btn {
    width: 25px;
    text-align: center;
    font-size: 18px;
    color: #044dac;
    background-color: transparent;
    border: none;
}

.cart-price {
    width: 100px;
    color: #044dac;
    text-align: end;
    margin: 0%;
    font-size: 21px;
}

.card-cart a {
    margin: 3px;
    padding: 3px;
}

.card-cart figure {
    width: 40%;
    align-self: center;
}

.card-cart img{
    width: 90%;
}

.cart-detail {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
}

.cart-product-name {
    text-align: left;
    margin-bottom: 6px;
    width: 130px;
}

.cart-delete-btn {
    background-color: red;
    border: none;
    border-radius: 7px;
    color: white;
    height: 32px;
    width: 75px;
    max-width: 500px;
    font-size: 15px;
    margin: 5px;
}

.cart-submit-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-submit-btn {
    background-color: #16b140;
    border: none;
    border-radius: 7px;
    color: white;
    height: 40px;
    width: 150px;
    max-width: 500px;
    font-size: 15px;
    margin: 5px;
}

/* .continue-group {
    width: 75%;
} */

.cart-total-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-units{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-units h4{
    background-color: white;
    padding: 2px 20px;
    margin: auto;
    font-size: 19px;
}

.cantidad-unidades{
    display: flex;
    background-color: #044dac;
    border-radius: 5px;
    align-items: center;
    height: 2em;
}

.cantidad-unidades button{
    background-color: #044dac;
    border: none;
    display: flex;
    
}

.cantidad-unidades i{
    color: white;
    align-self: center;
    margin: auto;
}

.precio-total{
    align-self: flex-end;
}

/* *********** FIN DE CARRITO DE COMPRA ***********  */

/* **************** ADDED PRODUCT ****************** */

.cart-info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px lightgrey;
    background-color: #FFF;
    animation-name: fadeIn;
    animation-duration: 1500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(3px);
    }

    100% {
        opacity: 1;
    }
}

.added-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5px;
}

.cart-info-container figure {
    width: 25%;
    margin: 0px;
}

.cart-info-container img {
    width: 90%;
}

.added-description {
    width: 75%;
}

.added-description h3 {
    font-size: 18px;
    color: green;
}

.added-description p {
    margin: 0px;
    padding: 0px;
}

.cart-info-container button {
    background-color: #1259c3;
    border: none;
    border-radius: 7px;
    color: white;
    height: 40px;
    width: 150px;
    max-width: 500px;
    font-size: 15px;
    margin-bottom: 6px;
}

/* FIN DEL ADDED PRODUCT */

/* PRODUCT DETAIL */
.box{
    align-self: center;
    margin: 20px;
    border: 1px solid #0003;
    border-radius: 20px;
    padding: 20px;
    background: white;
  }

  .description{
    display: flex;
    justify-content: space-around;
  }

  .details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }


  .detail-image{
    width: 40%;
  }

  .button {
    background-color: #1259c3;
    border: none;
    border-radius: 7px;
    color: white;
    height: 40px;
    width: 150px;
    max-width: 500px;
    font-size: 15px;
    margin: 5px;
  }

  .button:hover{
    background-color: #0a3069;
  }

  .edit-button{
    background-color: rgb(220, 186, 37);
  }

  .edit-button:hover{
    transition-duration: 100ms;
    background-color: rgb(122, 104, 22);
  }

  .delete-button{
    background-color: red;
  }

  .delete-button:hover{
    background-color: rgb(135, 6, 6);
  }

/* formulario de creacion */

  .form-box{
    margin: auto;
    border: 1px solid #0003;
    border-radius: 20px;
    padding: 20px;
    background: white;
    max-width: 1000px;
  }

  .form{
    display: flex;
    flex-direction: column;
  }

  .button-submit {
    background-color: #16b140;
    border: none;
    border-radius: 7px;
    color: white;
    /* padding: 5px; */
    height: 40px;
    width: 150px;
    max-width: 500px;
    font-size: 15px;
    margin: 5px;
  }

  .button-submit:hover{
    background-color: #0c5e22;
  }
  
  .input-style{
    margin: 10px 10px 0px 10px;
    border: solid 1px #9fb1ff;
    border-radius: 5px;
    padding: 10px;
    max-height: 50px;
  }

  .input-whithout-logo{
    height: 50px;
    background-color: #FFF;
  }

  .danger{
    border: solid 2px rgba(231, 47, 47, 0.601);
  }

  .acepted{
    border: solid 2px rgba(11, 137, 19, 0.9);
  }
  
  .danger-text{
    color: rgb(231, 47, 47);
    margin-left: 15px;
    height: 15px;
  }

 *:focus{
    outline:none;
 }

 .subtitle{
    margin: 20px 10px 10px;
 }

 .button-box{
    margin-top: 10px;
 }

/* Checkout page */
 .checkout-msg{
    text-align: center;
 }
 .checkout-msg .danger{
    color: red;
    border: none;
    font-size: 100px;
 }

 .checkout-msg .acepted{
    color: #16b140;
    border: none;
    font-size: 100px;
 }

/* 404 */

.e404-box{
    display: flex;
    justify-content: center;
}
.e404{
    font-size: 100px;
    text-align: center;
    margin: 0px;
    font-weight: 600;
}

/* *** ANIMACIONES *** */

/* ----------------------------------------------
 * Generated by Animista on 2022-9-11 19:57:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

.scale-in-center {
	animation: scale-in-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
.jello-horizontal {
	animation: jello-horizontal 0.9s both;
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
